body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}  /* åˆå§‹åŒ–æ ‡ç­¾åœ¨æ‰€æœ‰æµè§ˆå™¨ä¸­çš„marginã€paddingå€¼ */
fieldset,img {border:0 none}  /* é‡ç½®fieldsetï¼ˆè¡¨å•åˆ†ç»„ï¼‰ã€å›¾ç‰‡çš„è¾¹æ¡†ä¸º0*/  
dl,ul,ol,menu,li {list-style:none}   /* é‡ç½®ç±»è¡¨å‰å¯¼ç¬¦å·ä¸ºonne,menuåœ¨HTML5ä¸­æœ‰æ•ˆ */
blockquote, q {quotes: none}   /* é‡ç½®åµŒå¥—å¼•ç”¨çš„å¼•å·ç±»åž‹ */  
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* é‡ç½®åµŒå¥—å¼•ç”¨*/  
input,select,textarea,button {vertical-align:middle}  /* é‡ç½®è¡¨å•æŽ§ä»¶åž‚ç›´å±…ä¸­*/  
button {border:0 none;background-color:transparent;cursor:pointer}  /* é‡ç½®è¡¨å•buttonæŒ‰é’®æ•ˆæžœ */  
body {background:#fff}   /* é‡ç½®body é¡µé¢èƒŒæ™¯ä¸ºç™½è‰² */  
body,th,td,input,select,textarea,button {font-family:"Microsoft YaHei", "SimHei";color:#232323;} /* é‡ç½®é¡µé¢æ–‡å­—å±žæ€§ */
a {color:#c4c4c4;text-decoration:none}  /* é‡ç½®é“¾æŽ¥aæ ‡ç­¾ */
a:active, a:hover {text-decoration:none}   /* é‡ç½®é“¾æŽ¥aæ ‡ç­¾çš„é¼ æ ‡æ»‘åŠ¨æ•ˆæžœ */  
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* é‡ç½®æ ·å¼æ ‡ç­¾çš„æ ·å¼ */  
caption {display:none;}    /* é‡ç½®è¡¨æ ¼æ ‡é¢˜ä¸ºéšè— */  
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* é‡ç½®tableå±žæ€§ */  
img{vertical-align:top;}  /* å›¾ç‰‡åœ¨å½“å‰è¡Œå†…çš„åž‚ç›´ä½ç½® */
*{box-sizing: border-box;}
/* é¡µé¢è®¾ç½® */

::-webkit-input-placeholder{color: #ccc;}
   
  /* å–æ¶ˆaæ ‡ç­¾ç‚¹å‡»åŽçš„è™šçº¿æ¡† */  
a {outline: none;}    
a:active {star:expression(this.onFocus=this.blur());}  
   
 /* è®¾ç½®é¡µé¢æ–‡å­—ç­‰åœ¨æ‹–åŠ¨é¼ æ ‡é€‰ä¸­æƒ…å†µä¸‹çš„èƒŒæ™¯è‰²ä¸Žæ–‡å­—é¢œè‰² */  
/*   
::selection {color: #fff;background-color: #4C6E78;}      
::-moz-selection {color: #fff;background-color: #4C6E78;}   
*/  
  
/*æ¸…é™¤æµ®åŠ¨*/  
.clear{clear: both;}  
  
/*æ¸…é™¤æµ®åŠ¨--æŽ¨èä½¿ç”¨*/  
.clearfix:before,.clearfix:after{content: '';display: table;}  
.clearfix:after{clear: both;}  
.doc{width: 1050px;margin: 0 auto;}











