.table-sort {
    width: 10px;
    height: 20px;
    cursor: pointer!important;
    position: relative;
}
.edge {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}
.table-sort .table-sort-asc {
    top: 3px;
    border-top: none;
    border-bottom-style: solid;
    border-bottom-color: #000;
}
.table-sort .edge {
    position: absolute;
    left: 5px;
    border-width: 4px;
}
.table-sort .table-sort-desc {
	top: 10px;
    border-bottom: none;
    border-top-style: solid;
    border-top-color: #000;
}

.content table{
	font-size: 12px;
}
.content table tr th{
	height: 36px;
}
.th1{
	width: 90px;
}
.th2{
	width: 140px;
	padding-left: 30px;
    text-align: left;
}
.th3{
	width: 140px;
	position: relative;
	text-align: left;
}
.th4{
	width: 330px;
	text-align: left;
}
.th5{
	width: 130px;
	text-align: left;
}
.th6{
	width: 100px;
}
.content tbody tr{
	cursor: default;
	height: 40px;
	background: #f4f4f4;
}
.content thead tr{
	background: #f4f4f4;
}
.content tbody tr span{
	cursor: pointer;
}
.content table tbody tr:nth-child(odd){
	background: #fff;
}
.content table tbody tr:hover{
	background: #f4f4fd;
}
.content tbody tr td:nth-child(1){
	text-align: center;
}
.content tbody tr td:nth-child(2){
	text-align: left;
	padding-left: 30px;
}

.content tbody tr td:nth-child(6){
	text-align: center;
}

