h1,h2,h3,h4,p,a {
    word-break: break-all;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 006px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background: rgba(62 ,175 ,124 ,.4);
    -webkit-box-shadow: inset 006px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(62 ,175 ,124 ,.2);
}
